@import 'colors.less';

.uui-icon (@position, @z-index, @top, @right, @bottom, @left, @float) {
  position: @position;
  z-index: @z-index;
  top: @top;
  left: @left;
  right: @right;
  bottom: @bottom;
  float: @float;
  color: @white;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  border: 1px solid @blue;
  background: @blue;

  &.small {
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
  }

  &.large {
    width: 42px;
    height: 42px;
    line-height: 40px;
    font-size: 18px;
  }

  &.transparent {
    background: transparent;
    color: @blue;
  }
}

/*  Lime Green  */
.uui-icon.lime-green {
  background: @green_lime !important;
  border-color: @green_lime !important;
  color: @white !important;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.lime-green {
  background: transparent !important;
  color: @green_lime !important;

  i {
    color: @green_lime !important;
  }
}

/*  Medium Gray  */
.uui-icon.medium-gray {
  background: @gray_medium !important;
  border-color: @gray_medium !important;
  color: @white !important;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.medium-gray {
  background: transparent !important;
  color: @gray_medium !important;

  i {
    color: @gray_medium !important;
  }
}

/*  Yellow  */
.uui-icon.yellow {
  background: @yellow !important;
  border-color: @yellow !important;
  color: @gray_dark !important;

  i {
    color: @gray_dark !important;
  }
}

.uui-icon.transparent.yellow {
  background: transparent !important;
  color: @gray_dark !important;

  i {
    color: @gray_dark !important;
  }
}

/*  Orange  */
.uui-icon.orange {
  background: @orange !important;
  border-color: @orange !important;
  color: @white !important;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.orange {
  background: transparent !important;
  color: @orange !important;

  i {
    color: @orange !important;
  }
}

/*  Fuchsia  */
.uui-icon.fuchsia {
  background: @fuchsia !important;
  border-color: @fuchsia !important;
  color: @white;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.fuchsia {
  background: transparent !important;
  color: @fuchsia !important;

  i {
    color: @fuchsia !important;
  }
}

/*  Violet  */
.uui-icon.violet {
  background: @violet !important;
  border-color: @violet !important;
  color: @white !important;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.violet {
  background: transparent !important;
  color: @violet !important;

  i {
    color: @violet !important;
  }
}

/*  Dark Gray  */
.uui-icon.dark-gray {
  background: @gray_dark !important;
  border-color: @gray_dark !important;
  color: @white !important;

  i {
    color: @white !important;
  }
}

.uui-icon.transparent.dark-gray {
  background: transparent !important;
  color: @gray_dark !important;

  i {
    color: @gray_dark !important;
  }
}