@import '../styles/fonts.less';
@import '../styles/colors.less';

.page_header {
  padding: 10px;
  background: @gray_medium;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}