<header class="page_header">
  <span>Trees application</span>
  <nav class="header">
    <input ng-model="$ctrl.newNodeName" class="uui-form-element small">
    <button
        class="button blue add-collection-button"
        ng-click="$ctrl.addCollectionCallback({name: $ctrl.newNodeName})">
      Add collection
    </button>
    <button
        class="button green_lime"
        ng-click="$ctrl.addNodeCallback({name: $ctrl.newNodeName})"
    >
      Add node
    </button>
    <button
        class="button green_lime"
        ng-click="$ctrl.updateNodeCallback({name: $ctrl.newNodeName})"
    >
      Update node name
    </button>
    <button
        class="button dark_gray"
        ng-click="$ctrl.deleteNodeCallback({node: $ctrl.currentNode})"
    >
      Delete
    </button>
  </nav>
</header>