@import '../styles/icons.less';
@import '../styles/fonts.less';
@import '../styles/colors.less';


.uui_icon (@position, @z-index, @top, @right, @bottom, @left, @float) {
  position: @position;
  z-index: @z-index;
  top: @top;
  left: @left;
  right: @right;
  bottom: @bottom;
  float: @float;
  color: @white;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  border: 1px solid @blue;
  background: @blue;

  &.small {
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
  }

  &.large {
    width: 42px;
    height: 42px;
    line-height: 40px;
    font-size: 18px;
  }

  &.transparent {
    background: transparent;
    color: @blue;
  }
}

.uui_items_list {
  justify-self: center;
  display: inline-block;
  list-style: none;
  margin: 0 0 1px 0;

  .item_section {
    display: table-cell;
    vertical-align: middle;

    &.content {
      width: 100%;
      padding: 0 0 0 12px;
      color: @gray_medium;
      font-size: 16px;
      font-family: @Arial;
    }
  }

  .item_body {
    position: relative;
    padding: 11px 17px 11px 5px;
    margin: 0 0 -1px 0;
    width: 100%;
    border: 1px solid @gray_light;
    cursor: pointer;


    .item_section {
      &.icon {
        padding-left: 12px;
        width: 36px;

        .uui_icon {
          .uui_icon (static, auto, auto, auto, auto, auto, left);
          width: 36px;
          height: 36px;
          line-height: 34px;
          background: @blue;
          border: 1px solid @blue;
        }

        i {
          font-size: 16px;
          color: @white;
        }
      }
    }

    &.active {
      text-decoration: underline;
    }
  }

  .item_line_body {
    display: table;
    width: 100%;
    padding: 0 17px;

    .line {
      border-left: 1px solid #e5e5e5;
      margin: 0 0 0 24px;
      position: relative;
      padding: 18px 0;

      .wrapper {
        margin: 0 0 0 -24px;
      }
    }

    .item_section {
      &.icon {
        width: 48px;

        .uui_icon {
          .uui_icon (static, auto, auto, auto, auto, auto, left);
          width: 48px;
          height: 48px;
          line-height: 46px;
          background: @blue;
          border: 1px solid @blue;
        }

        i {
          color: @white;
          font-size: 20px;
        }
      }
    }

    &:first-child {
      .line {
        padding-top: 0;
        margin-top: 18px;
      }
    }

    &:last-child {
      .line {
        padding-bottom: 0;
        margin-bottom: 18px;
      }
    }

    &.active {
      background: @blue;

      .line {
        border-left-color: @blue;
      }

      .item_section {
        &.icon {
          .uui_icon {
            background: @white;
            border-color: @white;
          }

          i {
            color: @blue;
          }
        }

        &.content {
          color: @white;
        }
      }
    }
  }

  &.transparent {
    .item_line_body {
      .item_section {
        &.icon {
          .uui_icon {
            background: @white;
            border-color: @blue;
          }

          i {
            color: @blue;
          }
        }
      }
    }
  }

  &.hover {
    .item_body {
      &:hover {
        background: @blue;
        border-color: @blue;
        z-index: 2;

        .item_section {
          &.icon {
            .uui_icon {
              background: @white;
              border-color: @white;
            }

            i {
              color: @blue;
            }
          }

          &.content {
            color: @white;
          }
        }
      }
    }

    .item_line_body {
      cursor: pointer;

      &:hover {
        background: @blue;

        .line {
          border-left-color: @blue;
        }

        .item_section {
          &.icon {
            .uui_icon {
              background: @white;
              border-color: @white;
            }

            i {
              color: @blue;
            }
          }

          &.content {
            color: @white;
          }
        }
      }
    }
  }

  &.small {
    .item_section {
      &.content {
        font-size: 14px;
      }
    }

    .item_body {
      padding: 11px 11px 11px 0;

      .item_section {
        &.icon {
          padding-left: 11px;
          width: 24px;

          .uui_icon {
            width: 24px;
            height: 24px;
            line-height: 18px;
          }

          i {
            font-size: 12px;
          }
        }
      }
    }

    .item_line_body {
      padding: 0 11px;

      .line {
        margin: 0 0 0 18px;
        padding: 12px 0;

        .wrapper {
          margin: 0 0 0 -18px;
        }
      }

      .item_section {
        &.icon {
          width: 36px;

          .uui_icon {
            width: 36px;
            height: 36px;
            line-height: 34px;
          }

          i {
            font-size: 16px;
          }
        }
      }

      &:first-child {
        .line {
          padding-top: 0;
          margin-top: 12px;
        }
      }

      &:last-child {
        .line {
          padding-bottom: 0;
          margin-bottom: 12px;
        }
      }
    }
  }
}


