<ul class="uui_items_list">
  <li
      ng-repeat="node in $ctrl.roots"
      ng-class="{'active' : $ctrl.currentNode === node, 'item_body': true}"
      ng-click="$ctrl.changeCurrentNodeCallback({nodeId: node._id}); $event.stopPropagation();"
  >
    <div class="item_section content">
      <span ng-if="$ctrl.haveChilds(node._id)" ng-click="$ctrl.showChilds(node._id); $event.stopPropagation()">></span>
      {{node._id}}
    </div>
    <tree-list
        ng-if="$ctrl.checkShowChilds(node._id)"
        roots="$ctrl.childs[node._id]"
        collections="$ctrl.collections"
        current-node="$ctrl.currentNode"
        change-current-node-callback="$ctrl.changeCurrentNodeCallback({nodeId})">
    </tree-list>
  </li>
</ul>