@import '../styles/fonts.less';
@import '../styles/colors.less';

footer {
  width: 100%;
  margin-top: -60px;
  position: relative;
  z-index: 1000;

  .uui-footer {
    display: table;
    table-layout: fixed;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    background: @gray_dark;
    padding: 0 20px;

    .footer-logo-copyright,
    .footer-build {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
    }

    .footer-logo-copyright {
      text-align: left;
    }

    .footer-build {
      text-align: right;

      .build {
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        color: @gray;
        margin: 0;
      }
    }
  }

  .epam-logo {
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 2px 10px 0 0;

    img {
      width: auto;
      height: 32px;
    }
  }

  .copyright {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: @gray;
    margin: 0;
  }

  .uui-promo-footer {
    display: table;
    table-layout: fixed;
    height: 60px;
    width: 100%;
    background: @gray_dark;
    padding: 0 20px;

    .footer-logo-copyright,
    .footer-navigation,
    .footer-icon-navigation {
      display: table-cell;
      width: 33.3%;
      vertical-align: middle;
    }

    .footer-logo-copyright {
      text-align: left;
    }

    .footer-navigation {
      text-align: center;
    }

    .footer-icon-navigation {
      text-align: right;
    }

    .uui-footer-navigation {
      display: inline-block;
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        color: @gray;
        margin: 2px 9px;

        > a {
          font-size: 14px;
          color: @gray;

          i {
            font-size: 18px;
            color: @gray;
          }

          &:hover, &:active, &:focus {
            text-decoration: none;
            color: @white;

            i {
              color: @white;
            }
          }
        }
      }
    }
  }
}