@import '../styles/icons.less';
@import '../styles/fonts.less';
@import '../styles/colors.less';

/* UUI Text Field */
.uui-form-element {
  min-width: 220px;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid @gray_light;
  color: @gray_medium;

  &:hover, &:focus, &:active {
    border-color: @gray;
  }

  &.large {
    height: 48px;
    padding: 10px 18px;
    font-size: 16px;
  }

  &.small {
    height: 24px;
    padding: 0 6px;
    font-size: 12px;
    vertical-align: top;
  }

  &.disable {
    cursor: not-allowed;
    background: #e5e5e5;
    color: @gray_light;

    &:hover, &:focus, &:active {
      border-color: @gray_light;
    }
  }

  &.error {
    border-color: @fuchsia;
  }
}

/* UUI Multiline text field */
textarea.uui-form-element {
  min-width: 360px;
  height: auto;
  line-height: normal;
  min-height: 120px;
  padding: 6px 12px;
}


button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button {
  display: inline-block;
  height: 36px;
  line-height: normal;
  padding: 6px 18px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
  color: @gray_medium;
  font-size: 14px;
  letter-spacing: .25px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover, &:focus, &:active {
    background: @gray_light;
    border-color: @gray_light;
    color: @gray_medium;
  }

  &.full {
    width: 100%;
  }

  &.average {
    width: 50%;
  }

  &.small {
    width: 25%;
  }

  &.normal {
    width: 125px;
  }
}

/*  Blue  */
.button.blue {
  background: @blue;
  border-color: @blue;
  color: @white;

  &:hover, &:focus, &:active {
    background: @blue_dark;
    border-color: @blue_dark;
    color: @white;
  }
}

/*  Lime Green  */
.button.green_lime {
  background: @green_lime;
  border-color: @green_lime;
  color: @white;

  &:hover, &:focus, &:active {
    background: @green_dark;
    border-color: @green_dark;
    color: @white;
  }
}

/* Dark Gray */
.button.gray_dark {
  background: @gray_dark;
  border-color: @gray_dark;
  color: @white;

  &:hover, &:focus, &:active {
    background: @black;
    border-color: @black;
    color: @white;
  }
}
